@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
/* === colors === */
h1 {
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 900;
  color: #28283d;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #87879d;
  font-weight: 500;
}

small {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #4d96a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-size: 10px;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background-color: #fff;
  display: grid;
  place-items: center;
  gap: 6rem;
}

@media (min-width: 768px) {
  .container {
    gap: 8rem;
  }
}
/* buttons */
.btn {
  cursor: pointer;
  color: #fafafa;
  background: #4d96a9;
  border: transparent;
  border-radius: 0.4rem;
  letter-spacing: 0.1rem;
  padding: 1.8rem 3.6rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s all ease-in-out;
  text-transform: capitalize;
  display: inline-block;
  /*block class is good with forms*/
}
.btn:hover {
  background: #71c0d4;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btn__secondary {
  background: #855fb1;
  transition: 0.3s all ease-in-out;
}
.btn__secondary:hover {
  background: #d9b8ff;
}
.btn-block {
  width: 100%;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separator--line {
  content: "";
  width: 0.1rem;
  height: 8.4rem;
  background-color: #cdcdd6;
}
.separator--circle {
  width: 5.6rem;
  height: 5.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.6rem;
  border-radius: 50%;
  border: 1px solid #cdcdd6;
  color: #87879d;
  display: grid;
  place-items: center;
  background-color: #fafafa;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow: hidden;
}
.header .logo {
  padding-top: 5rem;
}
.header .heroImg {
  width: 100vw;
  height: 153px;
  position: relative;
  margin: 0 auto;
  background: url(/assets/tablet/image-hero.png) no-repeat center center/cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__text {
  max-width: 46rem;
  padding: 0 2.4rem;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 4rem;
}
.header__text h2 {
  padding: 0.8rem 3.5rem;
}
.header__text .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header__text .btns .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 900;
}
.header__text .btns .btn span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #8fe3f9;
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .header .heroImg {
    height: 303px;
  }

  .header__text .btns {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .header {
    position: relative;
  }
  .header .heroImg {
    width: 100%;
    height: 358px;
    background-image: none;
  }
  .header .heroImg:before, .header .heroImg:after {
    content: "";
    width: 33%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .header .heroImg:before {
    left: 0;
    background: url(/assets/desktop/image-hero-left.png) no-repeat center center/cover;
  }
  .header .heroImg:after {
    right: 0;
    background: url(/assets/desktop/image-hero-right.png) no-repeat center center/cover;
  }
  .header__text {
    position: absolute;
    bottom: 0;
  }
}
.section {
  width: 100%;
  min-height: 40vh;
  position: relative;
}
.section--One {
  width: 90vw;
}
.section--One__header {
  margin: 6.4rem auto;
  display: grid;
  place-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.section--One__header .imgContainer {
  width: 150px;
  height: 143px;
  border-radius: 0.8rem;
  overflow: hidden;
}
.section--One__header .imgContainer .img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.section--One__body {
  margin: 0 auto;
  margin-bottom: 6.4rem;
  max-width: 57.3rem;
  display: grid;
  place-items: center;
  gap: 4rem;
  text-align: center;
}
.section--Two {
  width: 100vw;
  position: relative;
}
.section--Two .separator {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.section--Two__body {
  max-width: 100%;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 11.2rem;
  padding: 3rem 0;
  background: #4d96a9 url(/assets/mobile/image-footer.jpg) no-repeat center center/cover;
  background-blend-mode: overlay;
  position: relative;
}
.section--Two__body__text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section--Two__body__text h2 {
  max-width: 45.7rem;
  margin-top: 7rem;
  padding: 0 2rem;
  color: #fafafa;
}
.section--Two__body__text p {
  max-width: 57.4rem;
  margin: 4rem auto;
  padding: 0 2rem;
  color: #fafafa;
}
.section--Two__body__text .btn {
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 900;
  cursor: pointer;
}
.section--Two__body__text .btn span {
  font-size: inherit;
  font-weight: inherit;
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .section--One__header {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .section--One__header .imgContainer {
    width: 164px;
    height: 156px;
  }

  .section--Two__body {
    max-height: 42.8rem;
    background: #4d96a9 url(/assets/tablet/image-footer.jpg) no-repeat center center/cover;
  }
}
@media (min-width: 1440px) {
  .section--One__header {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .section--One__header .imgContainer {
    width: 255px;
    height: 242px;
  }

  .section--Two__body {
    max-height: 30.8rem;
    background: #4d96a9 url(/assets/desktop/image-footer.jpg) no-repeat center center/cover;
  }
  .section--Two__body__text {
    max-width: 1110px;
    flex-direction: row;
  }
  .section--Two__body__text h2 {
    width: 350px;
    margin-top: 0;
    text-align: left;
  }
  .section--Two__body__text p {
    width: 350px;
    text-align: left;
  }
}
.main {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2rem;
}

/*# sourceMappingURL=main.css.map */
