@use '../abstracts/' as *;
@use '../components/' as *;


.section {
  width: 100%;
  min-height: 40vh;
  position: relative;


  &--One{
  width: 90vw;




  &__header{
    margin: 6.4rem auto;
    @include grid(center);
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr ));

    .imgContainer{
      width: 150px;
      height: 143px;
      border-radius: 0.8rem;
      overflow: hidden;


      .img{
        width: 100%;
        display: block;
        object-fit:cover;
      }

    }

  }
  &__body{
    margin: 0 auto;
    margin-bottom: 6.4rem;
    max-width:57.3rem;
    @include grid(center);
    gap: 4rem;
    text-align: center;


  }


  }

  &--Two{
    width: 100vw;
    position: relative;

    .separator{
      position: absolute;
      top: 0;
      left: 50%;
      transform:translateX(-50%);
      z-index: 9;
    }

    &__body{
      max-width: 100%;
      min-height: 460px;
      @include flex(column,center,center);
      margin: 0 auto;
      margin-top: 11.2rem;
      padding: 3rem 0;
      background:$buttonPrimaryBgColor url(/assets/mobile/image-footer.jpg) no-repeat center center/cover;
      background-blend-mode:overlay;
      position: relative;


      &__text {
        width: 100vw;
        @include flex(column, center, center);
        text-align: center;


        h2{
          max-width: 45.7rem;
          margin-top: 7rem;
          padding: 0 2rem;
          color:$textSecondaryColor;
        }
        p{
          max-width:57.4rem;
          margin: 4rem auto;
          padding: 0 2rem;
          color:$textSecondaryColor;
        }
        .btn{
          border-radius: 3rem;
          font-size: 1.6rem;
          font-weight: $fontBlack;
          cursor: pointer;

          span{
            font-size: inherit;
            font-weight: inherit;
            text-transform: lowercase;
          }

        }


      }




    }

  }

}

@media(min-width:$tablets){
  .section--One__header{
    grid-template-columns: repeat(auto-fit,minmax(170px, 1fr ));

    .imgContainer{
      width: 164px;
      height: 156px;
    }

  }
  .section--Two__body{
    max-height: 42.8rem;
    background:$buttonPrimaryBgColor url(/assets/tablet/image-footer.jpg) no-repeat center center/cover;


  }

}


@media(min-width:$largeScreen){
  .section--One__header{
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr ));

    .imgContainer{
      width: 255px;
      height: 242px;
    }

  }

  .section--Two__body{
    max-height: 30.8rem;
    background:$buttonPrimaryBgColor url(/assets/desktop/image-footer.jpg) no-repeat center center/cover;



    &__text{
      max-width:1110px;
      flex-direction: row;


      h2{
        width:350px;
        margin-top: 0;
        text-align: left;
      }
      p{
        width: 350px;
        text-align: left;
      }


    }
  }

}
