@use '../abstracts/' as *;
.footer {
  width: 100vw;
  @include grid(center);

  .attributions{
    margin-bottom: 5rem;
    padding:0 3rem;
    @include grid(center);
    text-align: center;
    p{
      font-size: 1.2rem;
    }
    a{
      font-size: 1.2rem;
    }
  }

}