@use '../abstracts/'as *;

.header{
  width: 100%;
  @include flex(column,center,center);
  gap: 3rem;
  overflow: hidden;


  .logo{
    padding: 4.5rem 0;
  }

  .heroImg{
    width: 110%;
    @include flex(row,center,center);
    gap: 1rem;



    img{
      width: 50%;
      height: 153px;
      object-fit: cover;
    }
  }
}
