@use '../abstracts/'as *;
@use'../components/' as *;

.header{
  width: 100%;
  @include flex(column,center,center);
  gap: 4.5rem;
  overflow: hidden;


  .logo{
    padding: 5rem 0;
  }

  .heroImg{
    width: 110%;
    @include flex(row,center,center);
    gap: 1rem;



    img{
      width: 60%;
      height: 153px;
      object-fit: cover;
    }
  }

  &__text{
    padding: 2.4rem;
    text-align:center;
    @include grid(center);
    gap: 4.0rem;

    h2{
      padding: 0.8rem  3.5rem;
    }
    .btns{
      @include grid(center);
      gap: 1.5rem;

      .btn{
        @include flex(row,center,center);
        gap: 1rem;
        border-radius: 3rem;
        font-size: 1.6rem;

        span{
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          color:$buttonPrimarySpanColor;
        }
      }

    }



  }
}
