@use '../abstracts/'as *;

.header{
  width: 100%;
  @include flex(column,center,center);
  gap: 3rem;
  overflow: hidden;


  .logo{
    padding: 3rem 0;
  }

  .heroImg{
    width: 100%;
    @include flex(row,space-between,center);
    gap: 2rem;



    img{
      height: 153px;
      object-fit: cover;
    }
  }
}
