@use '../abstracts/' as *;


.btn{
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: center;
        padding: 1.2rem 2.4rem;
        border-radius: 2.9rem;
        border: none;
        outline: none;
        color: #fff;

        &__primary{
          background-color: $buttonPrimaryBgColor;
          color:$textSecondaryColor;
          transition: all,  0.3s ease-in-out;
          box-shadow:$boxShadow;

          &:hover{
            background-color: $buttonPrimaryHoverBgColor;
            transform: scale(0.95);
            box-shadow:$boxShadowHover;
          }
        }

          &__secondary{
            background-color:$buttonSecondaryBgColor;
          }


}
