@use '../abstracts/' as *;
@use './typo' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStack;
  font-size: $fontSize;
}

body{
  @include grid(center);
  width: 100vw;
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background-color: #fff;
  @include flex(column,space-between,center);
  gap:6rem;

}
@media(min-width:$tablets){
  .container{
    gap:8rem;
  }
}
