@use '../abstracts/'as *;

h1{
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: $fontBlack;

}

h2{
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: $fontBlack;
  color:$textPrimaryColor;
}
p{
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $bodyTextColor;
  font-weight: $fontMedium;
}

small{
  font-size: 1.6rem;
  font-weight: $fontBlack;
  line-height:2.6rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color:$buttonPrimaryBgColor;

}

a{
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $bodyTextColor;
  font-weight: $fontMedium;
  text-decoration: none;
  color: $buttonPrimaryBgColor;
  cursor: pointer;
}