/* === colors === */

$buttonPrimaryBgColor : rgba(77,150, 168, 1.0);
$buttonPrimarySpanColor : rgba(143,227, 249, 1.0);
$buttonPrimaryHoverBgColor : rgba(113,192, 212,1.0);
$buttonSecondaryBgColor: rgba(133, 95, 177, 1.0);
$buttonSecondaryHoverBgColor : rgba(217,184, 255,1.0);
$textPrimaryColor : rgba(40, 40, 61, 1.0);
$textSecondaryColor : rgba(250, 250, 250, 1.0);
$bodyTextColor : rgba(135, 135, 157, 1.0);
$boxShadowTextColor : rgba(135, 135, 157, 0.2);


$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

$padding:1.8rem 3.6rem;
$letterSpacing:0.1rem;

$transition: 0.3s all ease-in-out;

$borderRadius:0.4rem;